data/
species_config.ini
species_database.hdf5
*.pdf
*.png
*.txt
*.gif
*.h5
*.hdf5
*.npy
milky-way/images/
milky-way/DATA/
.ipynb_checkpoints/
milky-way/.ipynb_checkpoints/
__pycache__/
quickplots.ipynb